# list of fields to run the analysis for (master_bands=f606w,f600lp,f098m,f125w,f160w)
fields=/home/alexc/Documents/l_proj/photoz/alexc/z2_survey/infH_control/2351.list
master_bands=f606w,f600lp,f098m,f125w,f160w
make_bands=f125w,f160w

# the value in RMS map corresponding to value of 0 in the wht map (1/0 = ?), can be inf or (e.g.) 100
wht_zero=100

# location of input science images and weight maps
sci_dir=/home/alexc/Documents/l_proj/photoz/sbernard/borgz8/borgz8_data/
wht_dir=/home/alexc/Documents/l_proj/photoz/sbernard/borgz8/borgz8_data/weight-maps/

# directory to put the bad pixel mask
bad_mask_dir=/home/alexc/Documents/l_proj/photoz/alexc/investigations/rms_detect_backend/

# directory to put initial crude RMS maps
rms_crude_dir=/home/alexc/Documents/l_proj/photoz/alexc/investigations/rms_detect_backend/rms_crude/

# directories to put output from first crude run of SExtractor
cat_crude_dir=/home/alexc/Documents/l_proj/photoz/alexc/investigations/rms_detect_backend/cat_crude/
seg_crude_dir=/home/alexc/Documents/l_proj/photoz/alexc/investigations/rms_detect_backend/seg_crude/

# directory to put final normed RMS maps
rms_final_dir=/home/alexc/Documents/l_proj/photoz/alexc/borgz8/rms_norm_detection/

# directory to dump false source images and related analysis
fake_dir=/home/alexc/Documents/l_proj/photoz/alexc/investigations/rms_detect_backend/false_source_imgs/

# file to list flagged sources
flag_log=/home/alexc/Documents/l_proj/photoz/alexc/investigations/rms_detect_backend/test.flags
