# list of fields to run the analysis for (master_bands=f606w,f600lp,f098m,f125w,f160w)
fields=/home/alexc/Documents/l_proj/photoz/alexc/borgz9/backend_rms_normalisation/inf/NwDfield.list
master_bands=F105,F125,F140,F160,F350

# the value in RMS map corresponding to value of 0 in the wht map (1/0 = ?), can be inf or (e.g.) 100
wht_zero=inf

# location of input science images and weight maps
data_dir=/home/alexc/Documents/l_proj/photoz/mtrenti/borg/borg_z9_data/BORG/NEW_DATA/

# directory to put initial crude RMS maps
rms_crude_dir=/home/alexc/Documents/l_proj/photoz/alexc/borgz9/backend_rms_normalisation/inf/rms_crude/

# directories to put output from first crude run of SExtractor
cat_crude_dir=/home/alexc/Documents/l_proj/photoz/alexc/borgz9/backend_rms_normalisation/inf/cat_crude/
seg_crude_dir=/home/alexc/Documents/l_proj/photoz/alexc/borgz9/backend_rms_normalisation/inf/seg_crude/

# directory to put final normed RMS maps
rms_final_dir=/home/alexc/Documents/l_proj/photoz/alexc/borgz9/rms_norm_inf_run001/

# directory to dump false source images and related analysis
fake_dir=/home/alexc/Documents/l_proj/photoz/alexc/borgz9/backend_rms_normalisation/inf/false_source_imgs/

# file to list flagged sources
flag_log=/home/alexc/Documents/l_proj/photoz/alexc/borgz9/backend_rms_normalisation/inf/NwDtest.flags
